.form-control {
  width: 100%;
  padding: .85rem;
  font-family: inherit;
  font-weight: var(--fw-500);
  border: 1px solid var(--neutral-color-2);
  border-radius: 4px;
  outline: none;
}

.form-control input {
  width: 100%;
  font-family: inherit;
  font-weight: var(--fw-500);
  border: none;
  outline: none;
}