body {
  background-image: url(../images/bg-intro-mobile.png);
  background-color: var(--primary-color-1);
}

.pricing__plan {
  background-color: var(--accent-color-1);
  color: #fff;
  padding-block: 1rem;
  padding-inline: 4rem;
  margin-block-end: 1rem;
  border-radius: 8px;
  box-shadow: 0 6px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.main {
  padding-inline: 1rem;
}