body {
  background-image: url('../images/bg-intro-mobile.png');
  background-color: var(--primary-color-1);
  background-repeat: no-repeat;
  background-size: cover;
}

.left-content {
  color: #fff;
  text-align: center;
  margin-block-end: 5rem;
  h1 {
    margin-block-end: 2rem;
  }
}

.pricing {
  background-color: var(--accent-color-1);
  color: #fff;
}
