body {
  background-image: url('../images/bg-intro-mobile.png');
  background-color: var(--primary-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup__content {
  color: #fff;
  text-align: center;
  /* TEMP STYLES */
  padding-inline: 2rem;
  /* ********** */
  margin-block-end: 5rem;

}

.main-heading {
  margin-block-end: 2rem;

}